#About-Us-new
{
    margin-left: 30px;
    padding-top: 0px;
    font-size: 30px;
    font-family: sans-serif;
}
.About_Us_Contant
{
    font-size: 21px;
    color: #555;
    margin-right: 400px;
}
.btn 
{
    color: white;
    background-color: rgb(14, 97, 252);
    font-size: 20px;
    
}