#Our-Team-New
{
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: verdana;
    font-size: 20px;
    color: black ;
}
.Team-p-text
{
    color: #555;
}
#Our-Team-New .row 
{
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
}
.col-md-4
{
    margin: 40px auto;
}
.profile
{
    padding: 70px 10px 10px;
    background-color: #efefef;
}
.user
{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}
.profile img
{
    top: -60px;
    right: 110px;
    position: absolute;
    left: calc(50% -60px);
    border: 10px solid #fff;
    margin-left: -40px;
}
.profile h3
{
    font-size: 20px;
    margin-top: 15px;
    color: #d35400 ;
}
#Our-Team-New span
{
    font-size: 12px;
    color: #333;
}
.profile:hover
{
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.5s;

}